.bravo-reviews{
    .avatar-img{
        max-width: 60px;
    }
    .sfeedbacks_form .sspd_review .fa.selected,
    .sfeedbacks_form .sspd_review .fa.hovered{
        color: #5191fa;
    }
}
.service-review{
    .list-star{
        position: relative;
        ul{
            list-style: none;
            display: flex;
            li{
                &:not(:last-child){
                    margin-right: 5px;
                }
            }
        }
        .booking-item-rating-stars-active{
            position: absolute;
            top: 0;
            overflow: hidden;
        }
    }
}

.bravo-news .blog-content .alert  li{
    margin-bottom: 0;
}

.manage-job-table .review-count-approved {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 8px;
    min-width: 24px;
    height: 2em;
    border-radius: 5px;
    background-color: #72777c;
    color: #fff;
    font-size: 11px;
    line-height: 21px;
    text-align: center;
    transition: all 0.3s;
}
.review-count-approved:after {
    content: "";
    display: block;
    margin-left: 8px;
    width: 0;
    height: 0;
    border-top: 5px solid #72777c;
    border-right: 5px solid transparent;
}
